<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Form Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">	
		<div class="col-sm"></div>
			
		<div class="col-sm-8">
			<h1>Add New Tour</h1>
		
			<form class="form" action="#" th:action="@{/processForm}" th:object="${tour}" method="post">
				
				<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{id}">
				</div>
						
				<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{tourDetails.id}">
				</div>
				<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{tourDetails.country}">
				</div>
				<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{tourDetails.description}">
				</div>
				
				<div class="form-group">
					<label>Name</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					<input type="text" class="form-control" th:field="*{name}">
				</div>
				<div class="form-group">
					<label>Code</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
					<input type="text" class="form-control" th:field="*{code}">
					<small class="form-text text-muted">Expected format: LL-DDL where L-letter, D-digit</small>
				</div>
				<div class="form-group">
					<label>Continent</label>
					<select name="continent" class="form-control">
						<option th:each="continent: ${T(main.model.Tour.Continent).values()}"
								th:value="${continent}" th:text="${continent}"></option>
					</select>
				</div>
				<div class="form-group">
					<label>Start date</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<input type="date" class="form-control" th:field="*{date}">
				</div>
				<div class="form-group">
					<label>Duration</label>
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
					<input type="number" class="form-control" th:field="*{duration}">
				</div>
				<div class="form-group">
					<input type="checkbox" th:field="*{allInclusive}">
					<label>All Inclusive</label>
				</div>
				<div class="form-row">
					<div class="col">
						<input class="btn btn-success" type="submit" value="Submit">
					</div>
					<div class="col">
						<a th:href="@{/}" class="btn btn-warning float-right">Back</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm"></div>
	</div>		
</div>
	
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>	
</body>
</html>